.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-content: center;
	border: 1px solid gray;
	background-color: white;
	opacity: 90%;
	z-index: 10;
}

.main{
	position: absolute;
	left:0;
	width: 100%;
	height: 92%;
	top: 60px;
}

#inventory{
	width: 50%;
	height: 100%;
	background-color: lightgray;
	display: flex;
	
}

#inventory-title{
	width: 50%;
	height: 100%;
	text-align: center;
}

@font-face {
  font-family:"Luminari";
  src: url("Luminari-Regular.ttf") format("truetype");
}

#inventory-title-heading{
	position: relative;
	top: -10px;
	color: #2f0069;
	font-family: Luminari, fantasy;
}

#inventory-items{
	width: 60%;
	height: 100%;
	display: flex;
	margin-right: 20px;
	justify-content: space-between;
	align-content: center;
}

.inventory-item{
	width: 50px;
	height: 50px;
	margin: 5px;
	background-color: #ebeced;
	border: solid 1px black;
	display: flex;
}

.inventory-item img{
	width:80%;
	height: 80%;
	margin: auto;
}

#bin{
	height: 80%;
	position: relative;
	top: 5px;
}

.submit-answer{
	margin: 10px;
}

.input-field{
	height: 34px;
	width: 400px;
	padding: 3px 7px;
	margin-right: 20px;
	font-size: 14;
	border-radius: 5px;
	text-align: top;
}

.submit-button{
	border: none;
	height: 40px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	font-size: 14;
	cursor: pointer;
	color: lightgray;
	background-color: #2f0069;
}

.submit-button:hover{
	color: white;
}


.nav-arrows{
	height: 100%;
	width: 100px;
	margin: 10px;

}

.nav-arrow {
	max-width: 40%;
	max-height: 100%;
}