body{
	background-image: url('../pics/butterflies/wooden-planks.jpg');
	background-size: cover;
	overflow: hidden;
}
#door{
	position: absolute;
	bottom: -1%;
	left: 40%;
}
#fireplace{
	position: absolute;
	left: 38%;
	top: -15px;
}

#desk{
	position: absolute;
	right: -20px;
	width: 200px;
}

.map-small{
	position: absolute;
	transform: rotateZ(90deg);
	right: 20px;
	top: 100px;
	width: 100px;
	transition: 300ms ease;
}

.map-big{
	transition: 300ms ease;
	transform: rotateZ(0deg);
	width: 40%;
	position: absolute;
	right: 30%;
	top: 10%;
	z-index:5;

}

#backpack{	
	height: 120px;
	width: 120px;
	position: absolute;
	top: 50%;
	left: 2%;
	z-index: 2;
}

#backpack img{
	height: 100%;
	width: 100%;
}

#silvanus{
	position: absolute;
	height: 25%;
	left: 70%;
	top: 20%;
}