html{
	background-color: #15accf;
}

.main{
	display: flex;
}

.sequence-puzzles{
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #15accf;
	min-width: 1000px;
	min-height: 660px;
}

.title{
	min-height: 8%;
	width: 100%;
	background: linear-gradient(#0cf5b3, blue);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 32;
	text-decoration: underline;
}

.sequence-puzzle{
	width: 100%;
	height: 23%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid white;
}

.puzzle-text{
	color: white;
	font-size: 30;
}

.puzzle-pic{
	height: 80%;
}

.puzzle-answer{
	height: 20%;
	background-color: #80e7ff;
	border: none;
	border-radius: 5px;
}
.connection-puzzles{
	width: 24.9%;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 660px;
	min-width: 123px;
}

.connection-puzzle{
	height: 92%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: grey;
	border-left: 1px solid white;
}


.music-button{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: navy;
	position: relative;
	cursor: pointer;
}

.music-button:hover{
	background-color: #15accf;
}

.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 0;
  position: absolute;
  left: 40%;
  top: 33%;

  border-color: transparent transparent transparent #E3E3E3;
  transition: 500ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 16px 0 16px 28px;
}
.button.playing {
	height: 32px;
    border-style: double;
    border-width: 0px 0px 0px 28px;
	left: 38%;
	top: 34%;
 }

.button:hover {
    border-color: transparent transparent transparent white;
 }