body{
	background-color: #fff9d9;
	overflow: hidden;
}

.x{
	width: 40%;
	height: 90%;
	margin: 20px;
	position: relative;
}

.x img{
	width: 87%;
	height: 100%;
	
}

#xxxx{
	float: left;
}

#xxxxx{
	float: right;
}

@font-face {
  font-family:"Luminari";
  src: url("../Luminari-Regular.ttf") format("truetype");
}

#xx{
	resize: none;
	position: absolute;
	width: 65%;
	height: 70%;
	top: 15%;
	left: 11%;
	background: none;
	border: none;
	outline: none;
	font-family: Luminari, fantasy;
	font-size: 18;
}

#xxx{
	position: absolute;
	width: 65%;
	height: 70%;
	top: 12%;
	left: 7%;
	float: right;
	margin: 20px;
	word-wrap: break-word;
	font-family: Luminari, fantasy;
	font-size: 18;
	overflow: hidden;
}