.tumbleweed{
  position: absolute;
  width: 70px;
  height: 70px;
  background: url('https://vignette4.wikia.nocookie.net/imaspeedrunner/images/3/3a/Orphan_tumbleweed.png/revision/latest?cb=20131006213006') no-repeat;
  background-size: 100%;
}

#tumbleweed1{
	top: 10%;
	left: 81%;
  animation: tumbleweed1 linear 4s;
  animation-iteration-count: infinite;
  z-index:0;
}

#tumbleweed2{	
	top: 35%;
	left: 47%;
  animation: tumbleweed2 linear 3s;
  animation-iteration-count: infinite;
}

#tumbleweed3{
	top: 38%;
	left: 48%;
	animation: tumbleweed3 linear 5s;
	animation-iteration-count: infinite;
}

@keyframes tumbleweed1{
  0% {
    transform:  translate(0px,45px)  rotate(0deg) ;
  }
  9% {
    transform:  translate(-75px,5px)  rotate(-130deg) ;
  }
  17% {
    transform:  translate(-133px,60px)  rotate(-250deg) ;
  }
  26% {
    transform:  translate(-225px,75px)  rotate(-360deg) ;
  }
  34% {
    transform:  translate(-300px,115px)  rotate(-490deg) ;
  }
  42% {
    transform:  translate(-400px,170px)  rotate(-600deg) ;
  }
  50% {
    transform:  translate(-500px,200px)  rotate(-720deg) ;
  }
  100% {
    transform:  translate(-500px,200px)  rotate(-720deg) ;
  }
}

@keyframes tumbleweed2{
  0% {
    transform:  translate(-0px,45px)  rotate(0deg) ;
  }
  10% {
    transform:  translate(-0px,45px)  rotate(0deg) ;
  }
  19% {
    transform:  translate(-75px,-5px)  rotate(-130deg) ;
  }
  27% {
    transform:  translate(-133px,-45px)  rotate(-250deg) ;
  }
  36% {
    transform:  translate(-225px,-40px)  rotate(-360deg) ;
  }
  44% {
    transform:  translate(-300px,-110px)  rotate(-490deg) ;
  }
  52% {
    transform:  translate(-400px,-150px)  rotate(-600deg) ;
  }
  60% {
    transform:  translate(-501px,-140px)  rotate(-720deg) ;
  }
  100% {
    transform:  translate(-501px,-140px)  rotate(-720deg) ;
  }
}

@keyframes tumbleweed3{
  0% {
    transform:  translate(0px,45px)  rotate(0deg) ;
  }
  9% {
    transform:  translate(90px,5px)  rotate(130deg) ;
  }
  17% {
    transform:  translate(160px,75px)  rotate(250deg) ;
  }
  26% {
    transform:  translate(270px,105px)  rotate(360deg) ;
  }
  34% {
    transform:  translate(320px,145px)  rotate(490deg) ;
  }
  42% {
    transform:  translate(360px,200px)  rotate(600deg) ;
  }
  50% {
    transform:  translate(400px,250px)  rotate(720deg) ;
  }
  100% {
    transform:  translate(400px,250px)  rotate(720deg) ;
  }
}