body{
	overflow: hidden;
}

#fire-and-glow{
	width: 20%;
	position: absolute;
	left: 40%;
	top: 40%;
}

#campfire{
	position: relative;
	width: 100%;
	z-index: 1;
}

#glow{
	position: absolute;
	width: 1%;
	top: 70%;
	left: 50%;
	box-shadow:
	0 0 20px 30px white,
	0 0 120px 80px yellow,
    0 0 170px 120px orange,
    0 0 240px 160px red;
	z-index: 0;
}

.person{
	height: 28%;
	z-index: 1;
}

.speech-bubble{
	position: absolute;
	width: 500px;
	z-index: 5;
}

#dylan{
	position: absolute;
	left: 20%;
	top: 55%;
}

#dylan-speech{
	left: 18%;
	top: 10%;
}

#mike{
	position: absolute;
	left: 65%;
	top: 25%;
}

#mike-speech{
	left: 33%;
	top: 30%;
}

#duncan{
	position: absolute;
	left: 25%;
	top: 25%;
}

#duncan-speech{
	left: 32%;
	top: 26%;
}

#dora{
	position: absolute;
	left: 45%;
	top: 5%;
}

#dora-speech{
	left: 23%;
	top: 22%;
}

#charlotte{
	position: absolute;
	left: 70%;
	top: 55%;
}

#charlotte-speech{
	left: 47%;
	top: 14%;
}

.bush{
	height: 60%;
	position: absolute;
	z-index: 0;
}
#bush1{
	left: -10%;
	top: -15%;
}
#bush2{
	left: 72%;
	top: -15%;
}
#bush3{
	left: 80%;
	top: 32%;
}
#bush4{
	left: -18%;
	top: 32%;
}

.paper-ball{
	width: 3%;
	position: absolute; 
	right: 10%;
	top: 42%;
	z-index: 6;
}

.note-big{
	width: 300px;
	left: 68%;
	top: 23%;
}