html,body{
	background-color: #a8ffff;
	overflow: hidden; /* Hide scrollbars */
}

#sand{
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	height: 25%;
	width: 100%;
	background-color: #E5D55D;
}

.weeds{
	width: 100%;
	height: 27%;
	z-index: 10;
	position: absolute;
	bottom: 10%;
	display: flex;
	justify-content: space-between;
}

.weed{
	height: 100%;
}

.weed1{
	animation: weed-move 10s infinite ease;	
}

.weed2{
	animation: weed-move2 10s infinite ease;	
}

.volcanoes{
	width: 100%;
	height: 40%;
	z-index: 2;
	position: absolute;
	bottom: 20%;
	display: flex;
	justify-content: space-between;
} 

.fishys{
	height: 55%;
	width: 100%;
	position: absolute;	
}

.fish{
	position: relative;
	z-index: 3;
}

#fish1{
	height: 20%;
	top: 10%;
	animation: swim1 15s infinite linear;
}

#fish2{
	height: 10%;
	top: 80%;
	z-index: 0;
	animation: swim2 10s infinite linear;
}

#fish3{
	height: 15%;
	top: 45%;
	animation: swim3 25s infinite linear;
}

#fish4{
	height: 12%;
	top: 12%;
	animation: swim4 15s infinite linear;
}

#fish5{
	height: 15%;
	top: 30%;
	animation: swim5 10s infinite linear;
}

#fish6{
	height: 9%;
	top: 100%;
	z-index: 8;
	animation: swim6 14s infinite linear;
}

.bubbles{
	width: 2%;
	position: absolute;
	z-index: 1;
	top: 50%;
}

#bubbles1{
	left: 11%;
	animation: bubbleUp1 18s infinite linear;
}

#bubbles2{
	left: 48%;
	animation: bubbleUp2 18s infinite linear;
}

#bubbles3{
	left: 85%;
	animation: bubbleUp3 18s infinite linear;
}

.chests{
	position: absolute;
	z-index: 2;
	height: 17%;
	width: 100%;
	bottom: 10%;
	display: flex;
	justify-content: space-between;
}

.chest{
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
	width: 10%
}

.chest img{
	display: block;
	margin: auto;
	height: 100%;
}

.chest input{
	display: block;
	margin: auto;
	height: 20%;
	width: 70%;
}

#chest1{
	position: relative;
	left: 10%;
}

#chest2{
	position: relative;
	right: 10%;
}

#chest3{
	position: relative;
	right: 15%;
}

.answer_text{
	position: relative;
	bottom: 15px;
	color: green;
}

@keyframes weed-move{
	0%{
		transform: rotateZ(-3deg);	
	}
	50%{
		transform: rotateZ(3deg);
	}
	100% {
		transform: rotateZ(-3deg);
	}	

}

@keyframes weed-move2{
	0%{
		transform: skewX(-3deg);	
	}
	50%{
		transform: skewX(3deg);
	}
	100% {
		transform: skewX(-3deg);
	}	
}

@keyframes swim1{
	0%{transform: translateX(-200%);}
  100%{ transform: translateX(1200%);}
}

@keyframes swim2{
	0%{transform: translateX(150%);}
  76.999%{ transform: translateX(1880%);}
  77%{transform: translateX(-300%);}
  100%{ transform: translateX(150%);}
}

@keyframes swim3{
	0%{transform: translateX(150%);}
  70.999%{ transform: translateX(1280%);}
  71%{transform: translateX(-300%);}
  100%{ transform: translateX(150%);}
}

@keyframes swim4{
	0%{transform: translateX(150%);}
  42.999%{ transform: translateX(-680%);}
  43%{transform: translateX(1300%);}
  100%{ transform: translateX(150%);}
}

@keyframes swim5{
	0%{transform: translateX(480%);}
  74.999%{ transform: translateX(-750%);}
  75%{transform: translateX(950%);}
  100%{ transform: translateX(480%);}
}

@keyframes swim6{
	0%{transform: translateX(0%);}
  47.999%{ transform: translateX(-1050%);}
  48%{transform: translateX(1500%);}
  100%{ transform: translateX(0%);}
}

@keyframes bubbleUp1{
	0%{transform: translateY(0%);}
  99.999%{ transform: translateY(-3000%);}
  100%{ transform: translateY(0%);}
}

@keyframes bubbleUp2{
	0%{transform: translateY(0%);}
	70%{transform: translateY(1%);}
  99.999%{ transform: translateY(-2000%);}
  100%{ transform: translateY(0%);}
}

@keyframes bubbleUp3{
	0%{transform: translateY(0%);}
	30%{transform: translateY(1%);}
  99.999%{ transform: translateY(-2000%);}
  100%{ transform: translateY(0%);}
}
	
	